/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



/*-------------------------------------------------------------------------------*/
/* REAL CODE STARTS BELOW */
/*-------------------------------------------------------------------------------*/

html {
    font-size: 16px;
    user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

body {
    background-color: #010101;
    color: #DDD;
    font-family: 'Ubuntu Mono';
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: url('cursor.png'), auto;
}

.container {
    padding: 2.5rem;
}

.message {
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
}

#userAgent, #userIP {
    color: #1FC742;
}

#userCMD {
    color: #DDD;
}

#welcome {
    background-image: url('welcome.png');
    background-repeat: no-repeat;
    display: none;
    width: 100%;
    height: 123px;
}

#menu {
  margin-top: 6rem;
  margin-bottom: 5rem;
  display: none;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 500px;
}

#menu li {
  flex: 1 0 25%;
  text-align: center;
  margin-top: 2rem;
}

#cat {
  display: flex;
  justify-content: center;
}

span .active {
  display: none;
}

.lineBorder {
  display: none;
  overflow: hidden;
}

.instructions {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: -3rem;
}

.instruction {
  margin-top: 1rem;
  margin-left: 3rem;
}

.controls {
  color: #FFCC00;
}

.gameCanvas {
  display: flex;
  justify-content: center;
}

#projects {
  display: none;
}

.description {
  color: gray;
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .message {
    overflow: visible;
    white-space: normal;
  }
}